.box{
  margin: 0 auto;
  width: 900px;
  height: 500px;
  border: solid grey 5px;
  position: relative;
}

.box-two{
  position: absolute;
  /*background-color: blue;*/
  width: 900px;
  height: 500px;
}

.mirrors{
  display: none;
}

.bang{
  display: none;
}

.hyfr{
  display: none;
}
.fourFive{
  display: none;
}
.diamonds{
  display: none;
}
.drunk{
  display: none;
}
.crank{
  display: none;
}
.sky{
  display: none;
}
.hands{
  display: none;
}
.seven{
  display: none;
}
.international{
  display: none;
}
.loyal{
  display: none;
}
.yeah{
  display: none;
}
.sorry{
  display: none;
}
.fun{
  display: none;
}
.happy{
  display: none;
}
.california{
  display: none;
}
.fancy{
  display: none;
}
.thrift{
  display: none;
}
.gangnam{
  display: none;
}
.downtown{
  display: none;
}
.love{
  display: none;
}
.wrecking{
  display: none;
}
.empire{
  display: none;
}
.single{
  display: none;
}
.watch{
  display: none;
}
.dark{
  display: none;
}
